@media screen and (min-width: 360px) and (max-width: 768px){
    .botones_opcion{
        width: 70%;
        height: 48%;
        margin: 1% 15%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150%;
    }

    .dia{
        width: 95%;
        margin: 0 2.5%;
        height: 35%;
        float: left;
        margin-bottom: 1%;
    }

    .titulo_dia{
        width: 100%;
        height: 20%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4E6BA6;
        color: #ffffff;
    }

    .lunes{
        width: 25%;
        height: 100%;
        float: left;
        text-align: center;
    }

    .asignatura{
        width: 100%;
        height: 50%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hora{
        width: 100%;
        height: 50%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dia_semana{
        width: 100%;
        height: 80%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #quince{
        width: 17%;
    }
}

@media screen and (min-width: 769px){
    .botones_opcion{
        width: 30%;
        height: 48%;
        margin: 1% 35%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150%;
    }

    .dia{
        width: 20%;
        height: 100%;
        float: left;
        margin-bottom: 0%;
    }

    .titulo_dia{
        width: 100%;
        height: 10%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4E6BA6;
        color: #ffffff;
    }

    .lunes{
        width: 100%;
        height: 20%;
        float: left;
        text-align: center;
    }

    .asignatura{
        width: 100%;
        height: 50%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hora{
        width: 100%;
        height: 50%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dia_semana{
        width: 100%;
        height: 90%;
        float: left;
    }
    
    #cincuenta{
        width: 100%!important;
    }
    #veinte{
        width: 100%!important;
    }

    .volver{
        width: 100%;
        height: 10%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .volver_btn{
        width: 10%!important;
        height: 70%;
        background-color: #213459;
        color: #ffffff;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
    }
}